{% extends 'base.html' %} {% block page_title %}
<title>AF | Projects</title>
{% endblock page_title %} {% block name %}

<section class="border-bottom mt-4">
  <h3>Akmal's Projects</h3>
</section>
{% endblock name %} {% block content %}

<!-- pagination -->

<section class="mt-3">
  {% if is_paginated %}
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      
      <li class="page-item">
        <a class="page-link" href={% url 'projects:index' page_obj.previous_page_number %} aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
      {% endif %}

      {% for page in paginator.page_range %}
      {% if page is page_obj.number %}
      <li class="page-item active" aria-current="page">
        <span class="page-link" href="#">{{page}}</span>
      </li>
      {% else %}
      <li class="page-item">
        <a class="page-link" href="{% url 'projects:index' page %}">{{page}}</a>
      </li>
      {% endif %}
    {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href={% url 'projects:index' page_obj.next_page_number %} aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

      {% else %}

      <li class="page-item disabled">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>

      {% endif %}
    </ul>
  </nav>
  {% endif %}
  <span class="text">Category :</span>
  {% for category in category_list %}
    <span class="text mx-1"><a href="{% url 'projects:category' category 1%}">{{category}}</a></span>
  {% endfor %}
</section>

<!-- end of pagination -->

<!-- Projects -->

<section id="projects" class="border-bottom mt-3 pb-3">
  <div class="row mb-3">
    {% for project in list_projects %}
    <div class="col-sm-6 d-flex mb-2">
      <div class="card flex-fill">
        <div class="card-body">
          <h5 class="card-title fs-6 fw-bold mb-0">{{project.title}}</h5>
          {% for category in project.categories.all %}
           <span class="text">{{category}} | </span>
          {% endfor %}
          <p class="card-text text mt-1">{{project.description}}</p>

          <a href="{{project.link}}" class="btn-link">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="blue"
              class=""
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"
              />
              <path
                fill-rule="evenodd"
                d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"
              />
            </svg>
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
{% comment %}
<div class="col-sm-6 d-flex mb-2">
  <div class="card flex-fill">
    <div class="card-body">
      <h5 class="card-title fs-6">Special title treatment</h5>
      <p class="card-text text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sunt, optio
        facere neque sint libero temporibus officia aspernatur ipsam, pariatur,
        aliquid voluptatem doloribus!
      </p>
    </div>
  </div>
</div>
{% endcomment %} {% endblock content %}
